body{
    background-color: rgb(250, 246, 252);
}
p,ul{
    font-family: Montserrat;
    margin-left: 50px;
}
.name{
    font-size: 50px;
    color:rgb(102, 86, 135);
    font-weight: 700;
    text-align: center;
}
.edu{
    font-size: 25px;
    color: rgb(183, 181, 228);
    font-weight: bold;
}
.info{
    font-size: 16px;
    color: rgb(19, 64, 116);

}
.contact,.skills,.project{
    font-size: 20px;
    color: rgb(51, 24, 50);
    font-weight: bold;
}
.skills2{
    font-size: 16px;
    color: rgb(19, 64, 116);
}
